

<ul class="navbar-nav">
@if (Context.Session.GetString("Username")!=null)
{
    <li class="nav-item">
        <a  class="nav-link text-dark">Hello @Context.Session.GetString("Username")</a>
    </li>
    <li class="nav-item">
         <a class="nav-link btn btn-link text-dark" href="/SystemUsers/Logout">Logout</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="SystemUsers" asp-action="Create">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="SystemUsers" asp-action="Login">Login</a>
    </li>
}
</ul>
