@model ThetaPOS.Models.SystemUser

@{ 
    Layout = "_LayoutMain";
}


<h1 class="text-center h-100">Welcome Home</h1>




@*<div class="row">

    <div class="col-md-2">
        <a class="btn btn-success btn-sm product ">Products</a>
        <a class="btn btn-success btn-sm productB">ProductBrands</a>
        <a class="btn btn-success btn-sm productC">ProductCategories</a>
        <a class="btn btn-success btn-sm myProfile" data-id=@Context.Session.GetInt32("Id")>My Profile</a>
        <a class="btn btn-success btn-sm productSale"  data-usrname=@Context.Session.GetString("Username")>My Sales</a>
        <a class="btn btn-success btn-sm productPurchase"  data-usrname1=@Context.Session.GetString("Username")>My Purchases</a>
    </div>
    <div class="col-md-10 dash">

    </div>
</div>
@section Scripts
{
    <script>
        $(function () {

            $('.product').click(function () {
                $('.dash').load("/Products/Index");
            });

            $('.productB').click(function () {
                $('.dash').load("/ProductBrands/Index");
            });

            $('.productC').click(function () {
                $('.dash').load("/ProductCategories/Index");
            });

            $('.myProfile').click(function () {
                var id = $(this).data("id");
                //console.log(id);
                $('.dash').load("/SystemUsers/Details/"+id);
            });

            $('.productSale').click(function () {
                var usrname = $(this).data("usrname");
                //alert(usrname);
                $('.dash').load("/ProductSales/MySales?usrname="+usrname);
            });

            $('.productPurchase').click(function () {
                var usrname = $(this).data("usrname1");
                //alert(usrname);
                $('.dash').load("/ProductPurchases/MyPurchases?usrname=" + usrname);
            });
        });

    </script>
}*@