@model ThetaPOS.Models.SystemUser


@{

    Layout = "_LayoutLogin";
}

<input type="hidden" value="@ViewBag.ErrMsg" id="err" />

        <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                                <div class="card-body">
                                    <form method="post" asp-action="Login">
                                        <div class="form-group">
                                            <label class="small mb-1" for="Username">Email</label>
                                            <input class="form-control py-4" asp-for="Username" placeholder="Enter email address" />
                                        </div>
                                        <div class="form-group">
                                            <label class="small mb-1" for="Password">Password</label>
                                            <input class="form-control py-4" asp-for="Password" type="password" placeholder="Enter password" />
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input" id="rememberPasswordCheck" type="checkbox" />
                                                <label class="custom-control-label" for="rememberPasswordCheck">Remember password</label>
                                            </div>
                                        </div>
                                        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                            <a class="small" href="/SystemUsers/ForgotPassword">Forgot Password?</a>
                                            <input class="btn btn-primary" type="submit" value="Login" />
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center">
                                    <div class="small"><a href="/SystemUsers/Create">Need an account? Sign up!</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>

    </div>






 @section Scripts {

        <script>
        $(function () {
            //alert($('#err').val());
            if ($('#err').val() != null && $('#err').val() != '' && $('#err').val() != 'undefined') {
                swal("OOPS!", $('#err').val(), "error");
            }
            //if ($('#succ').val() != null && $('#succ').val() != '' && $('#succ').val() != 'undefined') {
            //    swal("Congratulations!", $('#succ').val(), "success");
            //}


        });
        </script>

    }
