@model ThetaPOS.Models.SystemUser
<div class="row">

    <div class="col-md-2">
        <a class="btn btn-success btn-sm product ">Products</a>
        <a class="btn btn-success btn-sm productB">ProductBrands</a>
        <a class="btn btn-success btn-sm productC">ProductCategories</a>
        <a class="btn btn-success btn-sm myProfile" data-id=@Context.Session.GetInt32("Id")>My Profile</a>
    </div>
    <div class="col-md-10 dash">

    </div>
</div>
@section Scripts
{
    <script>
        $(function () {

            $('.product').click(function () {
                $('.dash').load("/Products/Index");
            });

            $('.productB').click(function () {
                $('.dash').load("/ProductBrands/Index");
            });

            $('.productC').click(function () {
                $('.dash').load("/ProductCategories/Index");
            });

            $('.myProfile').click(function () {
                $('.dash').load("/SystemUsers/Details/" + id);
            });
        });

    </script>
}
