@model IEnumerable<ThetaPOS.Models.ProductBrand>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New Brand</a>
</p>
<div class="row">
    @foreach (ProductBrand item in Model)
    {
        <div class="col-md-4">
            <div class="card mr-1 mb-1" style="max-height:400px">
                <div class="card-body">
                    <h4 class="card-title">@item.Name</h4>

                </div>
                <img class="card-img-bottom img-thumbnail" src="/brands/@item.Logo" alt="Card image">
                <a asp-action="Details" class="btn btn-outline-info" asp-route-id="@item.Id">Detail</a>
                <a asp-action="Edit" class="btn btn-outline-success" asp-route-id="@item.Id">Edit</a>
            </div>
        </div>

    }

</div>
