@model IEnumerable<ThetaPOS.Models.ProductCategory>

@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "_LayoutMain";
}
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    @foreach (ProductCategory item in Model)
    {
        <div class="col-md-4">
            <div class="card mr-1 mb-1" style="max-height:400px">
                <div class="card-body">
                    <h4 class="card-title">@item.Name</h4>

                </div>
                <img class="card-img-bottom img-thumbnail" src="/categories/@item.Image" alt="Card image">
                <a id="detail" class="btn btn-outline-info" asp-route-id="@item.Id">Detail</a>
                <a asp-action="Edit" class="btn btn-outline-success" asp-route-id="@item.Id">Edit</a>
            </div>
        </div>

    }

</div>

@section Scripts{
    <script>
        $(function () {


            //$('#detail').click(function () {

            //    $('detailview').load('/ProductCategories/Details')

            //});
            $('#detail').click(function () {
                var id = $(this).data("id");
                //console.log(id);
                $('Details').load("/ProductCategories/Details/" + id);
            });





        });



    </script>


}