@model ThetaPOS.Models.Product

@{
    ViewData["Title"] = "Create";
}


<h2>Add New Product</h2>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Barcode" class="control-label"></label>
                        <input asp-for="Barcode" class="form-control" />
                        <span asp-validation-for="Barcode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ShortDescription" class="control-label"></label>
                        <input asp-for="ShortDescription" class="form-control" />
                        <span asp-validation-for="ShortDescription" class="text-danger"></span>
                    </div>
                    @*sir meri 2 mails hain jo mein use karta hun shaid mistake hogai hai*@

                    <div class="form-group">
                        <label asp-for="LongDescription" class="control-label"></label>
                        <input asp-for="LongDescription" class="form-control" />
                        <span asp-validation-for="LongDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Features" class="control-label"></label>
                        <input asp-for="Features" class="form-control" />
                        <span asp-validation-for="Features" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label  class="control-label"> Brand Name</label>
                    @{ 
                        IList<ProductBrand> brandlist = ViewBag.brandlist;
                    }
                    @Html.DropDownListFor(m=>m.ProductBrandId, new SelectList(brandlist, "Id","Name"), "---Please Select One---",new {@class="form-control" })
                        <span asp-validation-for="ProductBrandId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Category Name</label>
                        @{
                            IList<ProductCategory> categorylist = ViewBag.categorylist;
                        }
                        @Html.DropDownListFor(a => a.ProductCategoryId, new SelectList(categorylist, "Id", "Name"), "---Please Select One---", new { @class = "form-control" })

                        <span asp-validation-for="ProductCategoryId" class="text-danger"></span>
                    </div>
                </div>
          
       
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="CurrentSalePrice" class="control-label"></label>
                        <input asp-for="CurrentSalePrice" class="form-control" />
                        <span asp-validation-for="CurrentSalePrice" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LatestPurchasePrice" class="control-label"></label>
                        <input asp-for="LatestPurchasePrice" class="form-control" />
                        <span asp-validation-for="LatestPurchasePrice" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Images" class="control-label"></label>
                        <input id="pimg" name="pimg" multiple type="file" class="form-control" />
                        <span asp-validation-for="Images" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Views" class="control-label"></label>
                        <input asp-for="Views" class="form-control" />
                        <span asp-validation-for="Views" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="OpeningStock" class="control-label"></label>
                    
                        <input asp-for="OpeningStock" value="00" class="form-control" />
                        <span asp-validation-for="OpeningStock" class="text-danger"></span>
                    </div>
               
                    <div class="form-group">
                        <label asp-for="CurrentStock" class="control-label"></label>
                        <input asp-for="CurrentStock" class="form-control" />
                        <span asp-validation-for="CurrentStock" class="text-danger"></span>
                    </div>
                </div>
          </div>

            <div class="form-group">
                <input type="submit" value="Add New" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
@*<script>
    $(function () {

        //if ($('#err').val() != null) {
        //    swal("OOPS!", $('#err').val(), "error");
        //}





    });

</script>*@



}
