@model IEnumerable<ThetaPOS.Models.Product>

@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "_LayoutMain";
}
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    @foreach (Product item in Model)
    {
        <div class="col-md-4">
            <div class="card mr-1 mb-1" id="card" style="max-height:400px">
                <div class="card-body">
                    <h4 class="card-title">@item.Name</h4>

                </div>
                <img class="card-img-bottom img-thumbnail" src="/brands/@item.Images" alt="Card image">
                <a asp-action="ProductsData" class="btn btn-outline-info" asp-route-id="@item.Id">Detail</a>
                <a asp-action="Edit" class="btn btn-outline-success" asp-route-id="@item.Id">Edit</a>
            </div>
        </div>

    }

</div>
@section Scripts {

    <script>
        $(function () {
            $('#card').click(

                $().load('/Products/ProductsData')
            );

        });
    </script>

}
